Source: openmediavault-openvpnas
Section: net
XB-Plugin-Section: remote
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: openmediavault-openvpnas
Architecture: all
Depends: openmediavault (= 3.0.13),
         openvpn-as (>= 2.0.24),
         ${misc:Depends}
Description: OpenVPN Acess Server plugin for OpenMediaVault.
